<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qvtu.mallbackend.mapper.OrderMapper">

    <!-- 动态SQL -->
    <select id="list" resultType="com.qvtu.mallbackend.pojo.Order">
        SELECT * FROM Order
    </select>

</mapper>
